@import "tailwindcss";

/*bordes modo oscuro   #ffffff14
 bordes modo claro #0000001a  */

@layer base {
  :root {
    --background: #1a1a1a;
    --background2: #242424;
    --foreground: #e0e0e0;
    --border-card: #ffffff14;
    --detail: #ff8c42;
  }

  html.light {
    --background: #f5f0ea;
    --background2: #eee9e4;
    --foreground: #1a1a1a;
    --border-card: #0000001a;
    --detail: #ff8c42;
  }

  html.dark {
    --background: #1a1a1a;
    --background2: #242424;
    --foreground: #e0e0e0;
    --border-card: #ffffff14;
    --detail: #ff8c42;
  }

  .section-1 {
    background: var(--background);
    color: var(--foreground);
  }
  .section-2 {
    background: var(--background2);
    color: var(--foreground);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    padding: 16px;
  }
}

/*hover con border bottom*/
